Raspberry/NodeRed/final_rasp.json
[{"id":"491bef31.d5a","type":"tab","label":"General_detPole","disabled":false,"info":""},{"id":"1563e31f.563e0d","type":"mqtt in","z":"491bef31.d5a","name":"","topic":"temperature","qos":"2","datatype":"auto","broker":"93dfbeee.e6a4a","x":110,"y":60,"wires":[["206d56f9.0a7c7a","9232bb00.ce5388"]]},{"id":"206d56f9.0a7c7a","type":"ui_text","z":"491bef31.d5a","group":"3c3aa6bc.95112a","order":1,"width":0,"height":0,"name":"","label":"Temperatura","format":"{{msg.payload}} ºC","layout":"row-spread","x":270,"y":120,"wires":[]},{"id":"c660bbe7.15c858","type":"mqtt in","z":"491bef31.d5a","name":"","topic":"humidity","qos":"2","datatype":"auto","broker":"93dfbeee.e6a4a","x":100,"y":160,"wires":[["486c235d.7b0ebc","9232bb00.ce5388"]]},{"id":"486c235d.7b0ebc","type":"ui_text","z":"491bef31.d5a","group":"3c3aa6bc.95112a","order":2,"width":0,"height":0,"name":"","label":"Humidade","format":"{{msg.payload}} %","layout":"row-spread","x":270,"y":200,"wires":[]},{"id":"5cdd19a6.46aef8","type":"mqtt in","z":"491bef31.d5a","name":"","topic":"uv_index","qos":"2","datatype":"auto","broker":"93dfbeee.e6a4a","x":100,"y":260,"wires":[["b324c54f.78c728","9232bb00.ce5388"]]},{"id":"b324c54f.78c728","type":"ui_text","z":"491bef31.d5a","group":"3c3aa6bc.95112a","order":3,"width":0,"height":0,"name":"","label":"Radiação UV","format":"{{msg.payload}}","layout":"row-spread","x":330,"y":280,"wires":[]},{"id":"8dce0ec4.e17de","type":"mqtt in","z":"491bef31.d5a","name":"","topic":"user/RFID/request","qos":"2","datatype":"auto","broker":"93dfbeee.e6a4a","x":130,"y":800,"wires":[["62e76e15.ed045"]]},{"id":"1424f256.88281e","type":"ui_text","z":"491bef31.d5a","group":"7b789062.07918","order":1,"width":0,"height":0,"name":"","label":"Utilizador","format":"{{msg.payload}}","layout":"row-spread","x":980,"y":740,"wires":[]},{"id":"33e7536.a64c2ac","type":"mqtt in","z":"491bef31.d5a","name":"","topic":"dock","qos":"2","datatype":"auto","broker":"93dfbeee.e6a4a","x":90,"y":680,"wires":[["6b7edaf9.5d2d44","22f26a01.db5146"]]},{"id":"6b7edaf9.5d2d44","type":"ui_text","z":"491bef31.d5a","group":"7b789062.07918","order":2,"width":0,"height":0,"name":"","label":"Dock nº","format":"{{msg.payload}}","layout":"row-spread","x":320,"y":680,"wires":[]},{"id":"62e76e15.ed045","type":"function","z":"491bef31.d5a","name":"","func":"msg.topic = \"SELECT name FROM detpole WHERE rfid = '\" + msg.payload + \"';\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":300,"y":800,"wires":[["eb96d157.acf95"]]},{"id":"330a3075.f3f66","type":"function","z":"491bef31.d5a","name":"","func":"if(msg.payload.length === 0){\n    msg.payload = \"\";\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":620,"y":800,"wires":[["cc454777.ca6568"]]},{"id":"8eac63be.f37de","type":"mqtt out","z":"491bef31.d5a","name":"","topic":"user/RFID/response","qos":"","retain":"","broker":"93dfbeee.e6a4a","x":1020,"y":860,"wires":[]},{"id":"cef6dae6.d2b8d8","type":"function","z":"491bef31.d5a","name":"","func":"msg.topic = \"INSERT INTO data_sensor(temperature,humidity,uv_index,day,hour) VALUES('\"+ msg.payload.temperature + \"','\" + msg.payload.humidity +\"','\" + msg.payload.uv_index + \"','\" + msg.payload.Dia + \"','\" + msg.payload.Hora + \"');\"\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":980,"y":140,"wires":[["3182d22a.94134e"]]},{"id":"eb96d157.acf95","type":"mysql","z":"491bef31.d5a","mydb":"336112a8.da903e","name":"user","x":450,"y":800,"wires":[["330a3075.f3f66"]]},{"id":"3182d22a.94134e","type":"mysql","z":"491bef31.d5a","mydb":"336112a8.da903e","name":"","x":1170,"y":140,"wires":[[]]},{"id":"4473693d.899b18","type":"remote-access","z":"491bef31.d5a","confignode":"e351194c.1a2db8","name":"telemovel","x":900,"y":400,"wires":[]},{"id":"a9c99fb8.c672e","type":"ui_media","z":"491bef31.d5a","group":"3c3aa6bc.95112a","name":"","width":"6","height":"2","order":4,"category":"detpole","file":"Dashboard_detpole.png","layout":"center","showcontrols":true,"loop":true,"onstart":false,"scope":"local","tooltip":"","x":890,"y":320,"wires":[[]]},{"id":"de47b668.1c2468","type":"ui_media","z":"491bef31.d5a","group":"7b789062.07918","name":"","width":"6","height":"2","order":4,"category":"redes","file":"redes.png","layout":"adjust","showcontrols":true,"loop":true,"onstart":false,"scope":"local","tooltip":"","x":890,"y":360,"wires":[[]]},{"id":"cc454777.ca6568","type":"change","z":"491bef31.d5a","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload[0].name","tot":"msg"},{"t":"set","p":"topic","pt":"msg","to":"user","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":780,"y":800,"wires":[["8eac63be.f37de","1424f256.88281e","bd5ce81d.d50528"]]},{"id":"9232bb00.ce5388","type":"join","z":"491bef31.d5a","name":"","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"5","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":810,"y":140,"wires":[["cef6dae6.d2b8d8"]]},{"id":"752c0857.428a68","type":"mqtt out","z":"491bef31.d5a","name":"","topic":"sensores/request","qos":"","retain":"","broker":"93dfbeee.e6a4a","x":930,"y":940,"wires":[]},{"id":"91a368ed.e9ace8","type":"inject","z":"491bef31.d5a","name":"","props":[{"p":"payload"}],"repeat":"1800","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":130,"y":940,"wires":[["8835fad9.ed9a08"]]},{"id":"8835fad9.ed9a08","type":"change","z":"491bef31.d5a","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"send info","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":480,"y":940,"wires":[["752c0857.428a68"]]},{"id":"675a56fe.3235e8","type":"inject","z":"491bef31.d5a","name":"","props":[{"p":"payload"}],"repeat":"1","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":130,"y":400,"wires":[["ce513f93.847d9","4beb7f1c.2aeb2"]]},{"id":"ff913c2.1d977c","type":"ui_text","z":"491bef31.d5a","group":"7b789062.07918","order":3,"width":0,"height":0,"name":"","label":"Dia","format":"{{msg.payload}}","layout":"row-spread","x":330,"y":400,"wires":[]},{"id":"80148c2.3c7207","type":"ui_text","z":"491bef31.d5a","group":"7b789062.07918","order":3,"width":0,"height":0,"name":"","label":"Hora","format":"{{msg.payload}}","layout":"row-spread","x":330,"y":540,"wires":[]},{"id":"ce513f93.847d9","type":"moment","z":"491bef31.d5a","name":"Dia","topic":"Dia","input":"","inputType":"msg","inTz":"America/Chicago","adjAmount":0,"adjType":"days","adjDir":"add","format":"ddd DD MMM ","locale":"pt-PT","output":"","outputType":"msg","outTz":"Europe/Portugal","x":290,"y":340,"wires":[["ff913c2.1d977c","9232bb00.ce5388","22f26a01.db5146"]]},{"id":"4beb7f1c.2aeb2","type":"moment","z":"491bef31.d5a","name":"Hora","topic":"Hora","input":"","inputType":"msg","inTz":"America/Chicago","adjAmount":0,"adjType":"days","adjDir":"add","format":"HH:mm:ss","locale":"pt-PT","output":"","outputType":"msg","outTz":"Europe/Portugal","x":310,"y":480,"wires":[["80148c2.3c7207","9232bb00.ce5388","22f26a01.db5146"]]},{"id":"b3eab06c.ed79a","type":"function","z":"491bef31.d5a","name":"","func":"msg.topic = \"INSERT INTO access_users(user,dock,day,hour) VALUES('\"+ msg.payload.user + \"','\" + msg.payload.dock +\"','\" + msg.payload.Dia + \"','\" + msg.payload.Hora + \"');\"\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":940,"y":580,"wires":[["9167ead3.3b4b28"]]},{"id":"9167ead3.3b4b28","type":"mysql","z":"491bef31.d5a","mydb":"336112a8.da903e","name":"","x":1130,"y":580,"wires":[[]]},{"id":"22f26a01.db5146","type":"join","z":"491bef31.d5a","name":"","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"4","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":770,"y":580,"wires":[["b3eab06c.ed79a"]]},{"id":"bd5ce81d.d50528","type":"switch","z":"491bef31.d5a","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"\"\"","vt":"str"},{"t":"neq","v":"\"\"","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":1190,"y":780,"wires":[[],["22f26a01.db5146"]]},{"id":"93dfbeee.e6a4a","type":"mqtt-broker","name":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"3c3aa6bc.95112a","type":"ui_group","name":"Default","tab":"208f43e3.cc40dc","order":1,"disp":false,"width":"6","collapse":false},{"id":"7b789062.07918","type":"ui_group","name":"Group 2","tab":"208f43e3.cc40dc","order":2,"disp":false,"width":6,"collapse":false},{"id":"336112a8.da903e","type":"MySQLdatabase","name":"","host":"127.0.0.1","port":"3306","db":"pole","tz":"","charset":"UTF8"},{"id":"e351194c.1a2db8","type":"remote-config","name":"Node-RED UI","host":"localhost","protocol":"http","port":"1880","baseurl":"/ui","instancehash":"fnwqik57v1grn341ps0ji8q0uvrud4oal0z4dxcpsbapimit7mg90hrtkgzjak54","server":"nodered02.remote-red.com","region":"de"},{"id":"208f43e3.cc40dc","type":"ui_tab","name":"Home2","icon":"dashboard","disabled":false,"hidden":false}]